<!-- question_edit_tips.html -->
{% load i18n %}
{% block forejs %}
        <script type="text/javascript">
            var currentSideBar = 'div#title_side_bar';
            function changeSideBar(enabled_bar) {
                $(currentSideBar).hide();
                currentSideBar = enabled_bar;
                $(currentSideBar).fadeIn('slow');

            }
            $(function () {
                $('div#editor_side_bar').hide();
                $('div#tags_side_bar').hide();

                $('input#id_title').focus(function(){changeSideBar('div#title_side_bar')});
                $('textarea#editor').focus(function(){changeSideBar('div#editor_side_bar')});
                $('input#id_tags').focus(function(){changeSideBar('div#tags_side_bar')});
            });
        </script>
{% endblock %}
<div class="boxC" id="title_side_bar">
    <p class="subtitle darkred">{% trans "Title Tips" %}</p>
    <div>
        <ul class="list-item">
            <li>
            <b>
                {% blocktrans with settings.APP_SHORT_NAME as app_title %}
                ask a question relevant to the {{ app_title }} community 
                {% endblocktrans %}
            </b>
            </li>
            <li>
                {% trans "please try provide enough details" %}
            </li>
            <li>
				{% trans "be clear and concise" %}
            </li>
        </ul>
        <p class='info-box-follow-up-links'>
            <a href="{% url faq %}" target="_blank" title="{% trans "see frequently asked questions" %}">{% trans "faq" %} »</a>
        </p>
    </div>
</div>

<div class="boxC" id="editor_side_bar">
    <p class="subtitle darkred">{% trans "Markdown Basics" %}</p>
    <ul class="list-item">
        <li>
            {% trans "*italic* or __italic__" %}
        </li>
        <li>
			{% trans "**bold** or __bold__" %}
        </li>
        <li>
            <b>{% trans "link" %}</b>:[{% trans "text" %}](http://url.com/ "{% trans "title" %}")

        </li>

        <li>
            <b>{% trans "image" %}</b>：![alt {% trans "text" %}](/path/img.jpg "{% trans "title" %}")

        </li>
        <li>
			{% trans "numbered list:" %}
            1.  Foo
            2.  Bar
        </li>
        <li>
			{% trans "basic HTML tags are also supported" %}
        </li>
    </ul>
    <p class='info-box-follow-up-links'>
        <a href="http://en.wikipedia.org/wiki/Markdown" target="_blank">{% trans "learn more about Markdown" %} </a>
    </p>
</div>

<div class="boxC" id="tags_side_bar" align="left">
    <p class="subtitle darkred">{% trans "What Are Tags" %}</p>
    <ul class="list-item">
        <li>
            {% trans "Tags are words that will tell others what this question is about." %}
        </li>
        <li>
            {% trans "They will help other find your question." %}
        </li>
        <li>
            {% trans "A question can have up to five tags, but it must have at least one." %}
        </li>
    </ul>
</div>


<!-- end question_edit_tips.html -->
