<!-- question_edit_tips.html -->
{% load i18n general_sidebar_tags %}
<div class="boxC" id="title_side_bar">
    <p class="subtitle darkred">{% trans "Title Tips" %}</p>
    <div>
        <ul class="list-item">
            <li>
            <b>
                {% blocktrans with settings.APP_SHORT_NAME as app_title %}
                ask a question relevant to the {{ app_title }} community 
                {% endblocktrans %}
            </b>
            </li>
            <li>
                {% trans "please try provide enough details" %}
            </li>
            <li>
				{% trans "be clear and concise" %}
            </li>
        </ul>
        <p class='info-box-follow-up-links'>
            <a href="{% url faq %}" target="_blank" title="{% trans "see frequently asked questions" %}">{% trans "faq" %} &raquo;</a>
        </p>
    </div>
</div>

{% markdown_help %}

<div class="boxC" id="tags_side_bar" align="left">
    <p class="subtitle darkred">{% trans "What Are Tags" %}</p>
    <ul class="list-item">
        <li>
            {% trans "Tags are words that will tell others what this question is about." %}
        </li>
        <li>
            {% trans "They will help other find your question." %}
        </li>
        <li>
            {% blocktrans with settings.FORM_MAX_NUMBER_OF_TAGS as max_number_of_tags and settings.FORM_MIN_NUMBER_OF_TAGS as min_number_of_tags %}
                A question can have up to {{max_number_of_tags}} tags, but it must have at least {{min_number_of_tags}}.
            {% endblocktrans %}
        </li>
    </ul>
</div>


<!-- end question_edit_tips.html  -->
                                  