{% extends "base.html" %}
<!-- questions.html -->
{% load question_list_tags %}
{% load i18n %}
{% load extra_tags %}
{% load general_sidebar_tags %}

{% block title %}{% spaceless %}{{ page_title }}{% endspaceless %}{% endblock %}

{% block forejs %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/rss">
{% endblock %}

{% block content %}
<div class="tabBar">
    {% question_list_title %}
    <a class="feed-icon" style="background-image:url('{% media "media/images/feed-icon-small.png" %}');" href="{{ feed_url }}" title="{% trans "subscribe to question RSS feed" %}"></a>
    {% question_sort_tabs sort_context %}
</div>
<div id="listA">{% for question in questions %}
    {% question_list_item question %}
{% endfor %}</div>
{% endblock %}

{% block tail %}
    <div class="pager">{% cnprog_paginator pagination_context %}</div>
    <div class="pagesize">{% cnprog_pagesize pagination_context %}</div>
{% endblock %}

{% block sidebar %}
    {% question_list_count %}
    {% sidebar_upper %}
    {% tag_selector %}
    {% sidebar_lower %}
    {% question_list_related_tags questions %}

{% endblock %}
<!-- end questions.html -->
