{% load i18n extra_tags email_tags %}

{% declare %}
    prefix = settings.EMAIL_SUBJECT_PREFIX
    app_name = settings.APP_SHORT_NAME

    exclude_greeting = True
    exclude_finetune = True
{% enddeclare %}

{% email %}
    {% subject %}{% blocktrans %}{{ prefix }} Feedback message from {{ app_name }}{% endblocktrans %}{% endsubject %}

    {% htmlcontent notifications/base.html %}
        <p style="{{ p_style }}}">
            {% trans "Sender" %}:
            {% if user.is_authenticated %}
                {{ user.username }} <br /> {% trans "email" %}:{{ user.email }}
            {% else %}
                {% if name %}{{ name }}{% else %}{% trans "anonymous" %}{% endif %}
                {% if email %}{% trans "email" %}:{{ email }}{% endif %}
            {% endif %}
            <br/>
                ip: {{ ip }}
        </p>

        <blockquote>
        {% trans "Message body:" %} {{ message }}
        </blockquote>

    {% endhtmlcontent %}

{% textcontent notifications/base_text.html %}
{% if user.is_authenticated %}
{% trans "Sender" %}: {{ user.username }}
{% trans "email" %}: {{ user.email }}
{% else %}
{% trans "Sender" %}: {% if name %}{{ name }}{% else %}{% trans "anonymous" %}{% endif %}
{% if email %}{% trans "email" %}: {{ email }}{% endif %}
{% endif %}
ip: {{ ip }}

{% trans "Message body:" %} {{ message }}
{% endtextcontent %}

{% endemail %}

