{% load i18n extra_tags email_tags %}

{% declare %}
    prefix = settings.EMAIL_SUBJECT_PREFIX
    app_name = settings.APP_SHORT_NAME
    app_url = settings.APP_URL
    post = comment.parent
    question = post.question and post.question or post
    post_author = post.author.username
    comment_author = comment.author
    question_url = question.get_absolute_url()
    question_title = question.title
{% enddeclare %}

{% email %}
    {% subject %}{% blocktrans %}{{ prefix }} New comment on {{ question_title }}{% endblocktrans %}{% endsubject %}

    {% htmlcontent notifications/base.html %}
        <p style="{{ p_style }}">
            {% blocktrans %}{{ comment_author }} has just posted a comment on {% endblocktrans %}
            {% ifnotequal post question %}
                {% blocktrans %}the answer posted by {{ post_author }} to {% endblocktrans %}
            {% endifnotequal %}
            {% blocktrans %}the question <a href="{{ app_url }}{{ question_url }}">{{ question_title }}</a>{% endblocktrans %}
        </p>

        <blockquote>
        {{ comment.comment }}
        </blockquote>

        <p style="{{ p_style }}">{% trans "Don't forget to come over and cast your vote." %}</p>
    {% endhtmlcontent %}

    {% textcontent notifications/base_text.html %}
        {% blocktrans %}{{ comment_author }} has just posted a comment on {% endblocktrans %}
        {% ifnotequal post question %}
            {% blocktrans %}the answer posted by {{ post_author }} to {% endblocktrans %}
        {% endifnotequal %}
        {% blocktrans %}the question "{{ question_title }}"{% endblocktrans %}


        {{ comment.body }}

        {% trans "Don't forget to come over and cast your vote." %}
    {% endtextcontent %}

{% endemail %}
