{% load i18n extra_tags email_tags %}

{% declare %}
    prefix = settings.EMAIL_SUBJECT_PREFIX
    app_name = settings.APP_SHORT_NAME
    question_author = question.author.username
    app_url = settings.APP_URL
    question_url = question.get_absolute_url()
    question_title = question.title
    question_tags = question.tagnames
{% enddeclare %}

{% email %}
    {% subject %}{% blocktrans %}{{ prefix }} New question on {{ app_name }}{% endblocktrans %}{% endsubject %}

    {% htmlcontent notifications/base.html %}
        <p style="{{ p_style }}">
            {% blocktrans %}
            {{ question_author }} has just posted a new question on {{ app_name }}, with title
            <a style="{{ a_style }}" href="{{ app_url }}{{ question_url }}">{{ question_title }}</a> and tagged <em>{{ question_tags }}</em>:
            {% endblocktrans %}
        </p>

        <blockquote>
            {{ question.html|safe }}
        </blockquote>

        <p style="{{ p_style }}">{% trans "Don't forget to come over and cast your vote." %}</p>        
    {% endhtmlcontent %}

{% textcontent notifications/base_text.html %}
{% blocktrans %}
{{ question_author }} has just posted a new question on {{ app_name }}, with title
"{{ question_title }}" and tagged {{ question_tags }}:
{% endblocktrans %}

{{ question.body|safe }}

{% trans "Don't forget to come over and cast your vote." %}
{% endtextcontent %}
{% endemail %}

