{% load i18n %}
{% load humanize %}

<div class="boxC">
    <div class="questions-count">
        {{ questions_count }}<span style="color:black;font-size:14px;margin-left:5px">{{ list_description }}</span>
    </div>


    {% if answer_count %}
    <div class="questions-count">
        {{ answer_count }}<span style="color:black;font-size:14px;margin-left:5px">{{ answer_description }}</span>
    </div>

    {% endif %}

    <div>
        <p class="nomargin">
            {{ sort_description|safe }}
        </p>
    </div>
</div>