{% load i18n %}

<h3>{% trans "Moderation tools" %}</h3>
<p><a href="#" class="ajax-command">{% trans "Reputation bonus" %}</a></p>
{% if not user.is_superuser %}
<p><a href="{% url user_powers id=user.id,action="grant",status="super" %}">{% trans "Grant super user status" %}</a></p>
    {% if not user.is_staff %}
    <p><a href="{% url user_powers id=user.id,action="grant",status="staff" %}">{% trans "Grant moderator status" %}</a></p>
    {% else %}
    <p><a href="{% url user_powers id=user.id,action="remove",status="staff" %}" class="">{% trans "Remove moderator status" %}</a></p>
    {% endif %}
{% else %}
    {% ifequal moderator.id 1 %}
        {% ifnotequal user.id 1 %}
            <p><a href="{% url user_powers id=user.id,action="remove",status="super" %}">{% trans "Remove super user status" %}</a></p>
        {% endifnotequal %}
    {% endifequal %}
{% endif %}
