{% extends "user.html" %}
<!-- user_subscriptions.html -->
{% load i18n %}
{% load extra_tags %}
{% load humanize %}

{% block userjs %}
    <script type="text/javascript">
        function enableSettings() {
            $("div#subscriptions_settings").show();
            $("div#subscriptions_management").hide();

            $("div#subscriptions_settings_button").context.activeElement.className = 'on';
            $("div#subscriptions_management_button").context.activeElement.className = '';

            //location.reload(true);
        }

        function enableManagement() {
            $("div#subscriptions_settings").hide();
            $("div#subscriptions_management").show();

            $("div#subscriptions_settings_button").context.activeElement.className = '';
            $("div#subscriptions_management_button").context.activeElement.className = 'on';

            //location.reload(true);
        }
    </script>
{% endblock %}

{% block usercontent %}
    <br/>

    <div id="navBar"><div class="tabsA">
        <a HREF="javascript:enableSettings()" id="subscriptions_settings_button">Settings</a>
        <a HREF="javascript:enableManagement()" id="subscriptions_management_button">Remove</a>
    </div></div>

    <br/>
    <div id="subscriptions_settings" {% if manage_open %} style="display:none" {% endif %}>
        {% include "users/subscriptions_settings.html" %}
    </div>
    <div id="subscriptions_management" {% if not manage_open %} style="display:none" {% endif %}>
        {% include "users/subscriptions_management.html" %}
    </div>
{% endblock %}
<!-- end user_subscriptions.html -->
